@charset "UTF-8";
@font-face{
	font-family: ciber-gotica;
	src: url(/TierraMedia3/assets/fonts/ciber-gotica.otf);
}
@font-face{
	font-family: josefin-sans;
	src: url(/TierraMedia3/assets/fonts/josefin-sans.ttf);
}
@font-face{
	font-family: josefinsans-semibold;
	src: url(/TierraMedia3/assets/fonts/josefinsans-semibold.ttf);
}
h1 {
	font-size: 40px;
	color: #754213;
	font-family: "ciber-gotica";
	-webkit-text-stroke: 1px #541206;
}
body {
	background-color: #fff6d3;
	font-family: "josefin-sans";
	color: #000000;
	font-weight: bold;
	font-size: 22px;
}
td {
	font-size: large;
	font-family: "josefin-sans";
	color: #626266;
}
.name{
	font-size: large;
	font-family: "josefinsans-semibold";
	font-weight: bold;
	color: #000000;
}
.slide{
	margin-top: 25px;
}
.slide img{
	height: 65vh;
}
.alert-info{
	font-size: large;
}
.alert-danger{
	font-size: large;
}
.btn-success{
	background-color: #754213;
	border-color: #754213;
}
.btn-success:hover{
	background-color: #C4925C;
	border-color: #C4925C;
}
.btn-primary{
	background-color: #78774E;
	border-color: #78774E;
}
.btn-primary:hover{
	background-color: #B5B476;
	border-color: #B5B476;
}
a{
	text-decoration: none;
}